@use '../bses/variables' as v;
@use '../bses/mixins' as m;

.footer{
    background-color: v.$primario;
    .footer-contenido{
        padding: 5rem;

        @include m.tablet { 
            @include m.grid(3, 2rem)
        }
    }

    .copyright{
        text-align: center;
        margin: 0;
        color: v.$blanco;
        padding: 2rem;
        font-size: 2rem;
    }
}

.footer-box{
    font-family: v.$cursivas;
    text-align: center;
    margin-bottom: 5rem;

    @include m.tablet { 
        margin-bottom: 0;
    }

    h3{
        font-family: v.$cursivas;
        margin: 0 0 1rem 0;
        font-size: 2.4rem;
        color: v.$secundario;
    }

    p, a{
        font-size: 2rem;
        margin: 0;
    }
}